@tailwind base;
@tailwind components;
@tailwind utilities;

pre,
code {
  color: #d4d4d4;
  font-size: 14px;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  line-height: 1.5;
  direction: ltr;
  white-space: pre;
  text-align: left;
  text-shadow: none;
  word-break: normal;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre::selection,
code::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  pre,
  code {
    text-shadow: none;
  }
}

pre {
  margin: 0.5rem 0 16px;
  padding: 0.8rem 1rem 0.9rem;
  overflow: auto;
  background: #282a36;
  border-radius: 4px;
}

:not(pre) > code {
  padding: 0.1em 0.3em;
  /* color: #db4c69; */
  color: #673ab7;
  font-weight: bold;
  background: #f9f2f4;
  border-radius: 0.3em;
  white-space: pre-wrap;
}

/* tailwind overrides */
.bg-retro-img {
  background-image: url("https://res.cloudinary.com/da91xzc7s/image/upload/q_auto:eco/v1647439434/bg_t8d8j1.webp") !important;
}
.gray-dark {
  background: #19181b;
}
.gray-medium {
  background: #27252a;
}
.text-purple {
  color: #b88fff;
}
.astro-code {
  background-color: #1f1132 !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #b88fff transparent;
}

::-webkit-scrollbar {
  @apply h-[6px] w-[6px] bg-transparent;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-purple-400;
}
