<div class="flex w-full flex-col items-center justify-center py-12">
  <!-- <img
    class="animate-zoom-in-slow h-48 w-72 rounded-md shadow-2xl shadow-black/40"
    src="/assets/avatar.JPG"
    alt="Madumbu Ramgopal avatar"
    height="160"
    width="160"
  /> -->

  <div
    class="flex max-w-full flex-col items-center px-6 transition-all sm:max-w-2xl sm:px-12 xl:max-w-4xl"
  >
    <p
      class="mt-8 animate-slide-in-left text-center text-3xl transition-all font-bold sm:text-4xl"
    >
      Hi! I'm Ramgopal 👋
    </p>

    <p
      class="animate-slide-in-left mt-8 text-center text-lg transition-all sm:text-xl"
    >
      I'm a Senior Software Engineer who, for the last 5+ years, has mainly been
      working with technologies such as
      <span class="text-purple-400">JavaScript</span>,
      <span class="text-purple-400">TypeScript</span>,
      <span class="text-purple-400">Node.js</span>, and
      <span class="text-purple-400">Java</span>.
    </p>
    <p
      class="animate-slide-in-left mt-8 text-center text-lg transition-all sm:text-xl"
    >
      Lately, I've been exploring new frameworks/toolings with
      <span class="text-purple-400">Next.js</span>,
      <span class="text-purple-400">Remix</span>,
      <span class="text-purple-400">Nx</span>, etc.
    </p>
  </div>
</div>
